html {
	box-sizing: border-box;
}

*,
:before,
:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
    color: #454545;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	line-height: 1.5;
}

.container {
    box-shadow: 0 1em 2em #e6e6e6;
    margin: 2em auto;
    max-width: 650px;
    padding: 3em;
}

@media (max-width: 600px) {
    .container {
        padding: 2em 1em;
    }
}

h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}

p {
    margin: 1rem 0;
}

#slider {
    margin: 1rem 0;
    width: 100%;
}

dt::after {
    content: ":";
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 1em;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline-block;
}

footer li + li::before {
    content: " · ";
}

footer a {
    color: #454545;
    text-decoration: none;
}